<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.advancedapp.backgroundAppRefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Advanced</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Alpha</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Alpha</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Bling</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bling</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Material</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Material</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Night Sky</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Night Sky</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Parchment</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Shadow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Shadow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Alpha</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Alpha</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>BlackIpad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlackIpad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>BlingIpad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlingIpad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>MaterialIpad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaterialIpad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>NeonIpad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeonIpad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Night SkyIpad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Night SkyIpad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>ParchmentIpad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ParchmentIpad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>ShadowIpad</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ShadowIpad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OpenWith</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>advreddit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>DEV</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>firefox</string>
		<string>firefox-focus</string>
		<string>brave</string>
		<string>dolphin</string>
		<string>opera-http</string>
		<string>youtube</string>
		<string>protube</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to authenticate you to get into the app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allows you to save photos and videos to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows you to save photos and videos to your photo library</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.advancedapp.Reddit.subredditVisit</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Inter-UI-Bold.ttf</string>
		<string>Inter-UI-Medium.ttf</string>
		<string>Inter-UI-Regular.ttf</string>
		<string>Pe-icon-7-stroke.ttf</string>
		<string>ElegantIcons.ttf</string>
		<string>Comic Sans MS Bold.ttf</string>
		<string>Comic Sans MS.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
